<ion-header>
    <ion-toolbar color="primary">
        <ion-title>products</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col>
                1
            </ion-col>
            <ion-col>
                2
            </ion-col>
            <ion-col>
                3
            </ion-col>
            <ion-col>
                4
            </ion-col>
            <ion-col>
                5
            </ion-col>
            <ion-col>
                6
            </ion-col>
            <ion-col>
                7
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-row style="border-bottom: groove; flex-wrap: nowrap; align-items: stretch">
        <ion-col col-4>
            <ion-label>header</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>header</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>header</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>header</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>header</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>header</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>header</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>header</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>header</ion-label>
        </ion-col>
    </ion-row>
    <ion-row style="border-bottom: groove;">
        <ion-col col-4>
            <ion-label>row</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>02/02/2018</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>row</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>row</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>02/02/2018</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>02/02/2018</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>02/02/2018</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>02/02/2018</ion-label>
        </ion-col>

    </ion-row>
    <ion-row style="border-bottom: groove;">
        <ion-col col-4>
            <ion-label>row</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>02/02/2018</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>row</ion-label>
        </ion-col>
    </ion-row>
    <ion-row>
        <ion-col col-4>
            <ion-label>row</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>02/02/2018</ion-label>
        </ion-col>
        <ion-col col-4>
            <ion-label>row</ion-label>
        </ion-col>
    </ion-row>
    <ion-grid>
        <ion-row>
            <!-- assuming you're using 14 columns, if you're not all col- attributes must be col-2 -->
            <ion-col col-3>02/02/2018</ion-col>
            <ion-col col-3>02/02/2018</ion-col>
            <ion-col col-3>02/02/2018</ion-col>
            <ion-col col-3>02/02/2018</ion-col>
            <ion-col col-2>02/02/2018</ion-col>
        </ion-row>
    </ion-grid>
    <div class="container">
        <div class='summary_row'>
            <div class='summarycell'>Header 1</div>
            <div class='summarycell'>Header 2</div>
            <div class='summarycell'>Header 3</div>
            <div class='summarycell'>Header 4</div>
            <div class='summarycell'>Header 5</div>
            <div class='summarycell'>Header 6</div>
            <div class='summarycell'>Header 7</div>
        </div>
        <div class='summary_row'>
            <div class='summarycell'>
                Cell1
            </div>
            <div class='summarycell'>
                Cell2
            </div>
            <div class='summarycell'>
                Cell3
            </div>

            <div class='summarycell'>
                Cell5
            </div>
            <div class='summarycell'>
                Cell6
            </div>
            <div class='summarycell'>
                Cell7
            </div>
            <div class='summarycell'>
                Cell8
            </div>
        </div>
    </div>
    <div class="ion-text-center">
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-button color="primary" outline> Add Product</ion-button>
                    <ion-button color="primary"> Edit Product</ion-button>
                    <ion-button color="primary"> Delete Product</ion-button>
                </ion-list>
                <ion-list>
                    <ion-button color="primary"> Delete Product</ion-button>
                </ion-list>
            </ion-col>
        </ion-row>
    </div>
</ion-content>