ion-card-content.card-content {
    // margin-bottom: 3em;
    // margin-top: 2em;
    border-radius: 10px !important;
}

ion-card-content {
    --background: rgba(255, 255, 255, 0.5);
    padding: 1px !important;
    border-radius: 10px !important;
}

ion-card {
    --background: rgba(255, 255, 255, 0.5);
    border-radius: 10px !important;
    //  margin-top: 50px;
}