ion-card-content {
    --background: rgba(110, 100, 139, 0.041);
    --padding: 1px;
    border-radius: 50px !important;
}

ion-card {
    --background: rgba(84, 102, 136, 0.322);
    border-radius: 30px !important;
}

ion-content {
    --background: rgba(249, 249, 255, 0.959);
    border-radius: 30px !important;
}